doctype html
html
  head
    title Krishna Dance Academy
    style
      include ../static/style.css
      include ../static/contact.css
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | KDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]


    
    form(action="/contactForm" method="POST")
        h1 Fill this form,Our team will contact you soon..
        p Name:
        input(type="text" name="name" placeholder="")
        p Email:
        input(type="text" name="email" placeholder="")
        p Age:
        input(type="text" name="age" placeholder="")
        p contact No.: 
        input(type="text" name="Phone" placeholder="")
        input(type="submit" class="submit")  

    footer#footer
        | Copyright &#169; KDA | All rights reserved